* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid rebeccapurple; */
}

body  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.work-roles li {
    list-style: none;
    display: inline;
}

.work-roles li::before {
    content: '😎';
}