:root {
    --fondo: black;
    --texto: #00FF00;
  }

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    background-color: var(--fondo);
    padding: 3em; 
}

*{
    font-weight: normal !important;
    color: var(--texto);
}

p {
    padding-right: 75%;
}

button {
    cursor: pointer;
    background-color: var(--fondo);
}