@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "BIZ UDMincho", serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  --main: #c1c5cb;
  --bg: #000000;
  --sec: rgb(16, 16, 17);
  /* --accent: #ff3c00; */
  --accent: #4fd818;
  color: var(--main);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: var(--bg);
  background-color: var(--main);
}

a {
  color: #abd0fa;
  transition: 200ms;
}
a:hover {
  background-color: var(--main);
  color: var(--bg);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--bg);
    background-color: #e4e6ec;
  }

  a {
    color: #2f7ed8;
  }

  ::selection {
    color: var(--main);
    background-color: var(--bg);
  }
}
