@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  font-family: "BIZ UDMincho", serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  --main: #c1c5cb;
  --bg: #000000;
  --sec: rgb(16, 16, 17);
  /* --accent: #ff3c00; */
  --accent: #4fd818;
  color: var(--main);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: var(--bg);
  background-color: var(--main);
}

a {
  color: #abd0fa;
  display: inline-block;
  transition:
    300ms background-size,
    80ms transform,
    550ms color;
  background: linear-gradient(var(--accent), var(--accent)) bottom / 0px 50px
    no-repeat;
  background-position: left bottom;
}
a:hover {
  color: var(--bg);
  text-decoration: none;
  background-size: 100% 50px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--bg);
    background-color: #e4e6ec;
  }

  a {
    color: #2f7ed8;
  }

  ::selection {
    color: var(--main);
    background-color: var(--bg);
  }
}
